# Port (optional, defaults to 3000)
PORT=3000

# Node environment
NODE_ENV=production

# Redis
REDIS_URL="redis://default:REDACTED_REDIS_PASSWORD@REDACTED_REDIS_HOST:REDACTED_REDIS_PORT"

# Zeakai API 
ZEAKAI_TOKEN = "REDACTED_ZEAKAI_TOKEN"
ZEAKAI_API_URL = "https://zeakai-api.api4midjourney.com"
