# Port (optional, defaults to 3000)
PORT=3000

# Node environment
NODE_ENV=production

# Redis
REDIS_URL="redis://default:<YOUR_REDIS_PASSWORD>@<HOST>:<PORT>"

# Zeakai API
ZEAKAI_TOKEN="<your-zeakai-token>"
ZEAKAI_API_URL="https://zeakai-api.api4midjourney.com"
